vrf definition {{ vrf_name }}
 rd {{ rd_num }}
 !
 {%- if ipv4_enable %}
 address-family ipv4
  route-target export {{ rd_num }}
  route-target import {{ rd_num }}
 exit-address-family
 !
 {%- endif %}
 {%- if ipv6_enable %}
 address-family ipv6
  route-target export {{ rd_num }}
  route-target import {{ rd_num }}
 exit-address-family
 {% endif %}
